<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="grid-container">
    <div class="header">
        <h1>Paper references explorer</h1>
    </div>
    <div class="information">
        <h1>Information:</h1>
    </div>
    <div class="user-papers">
        <h1>Added papers:</h1>
    </div>
    <div class="visualization start-cell end-cell">
        <svg id="visualization" viewBox="0 0 100 100">
        </svg>
    </div>
</div>
</body>
</html>
