$background-color: #00000010;
$margin: 0px;
$grid-gap: 10px;

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: md-get-palette-color(pink, A200), // The primary color of your application
    accent: md-get-palette-color(green, A200) // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

*, *:before, *:after {
    font-family: Roboto, sans-serif;
}

.grid-container {
    max-width: 1200px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;

    display: grid;
    height: 100vh;
    grid-template-columns: auto 250px;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    grid-template-areas: "graph info" "graph user";
}

.graph {
    grid-area: graph;
}

.info {
    grid-area: info;
}

.user {
    grid-area: user;
}

line {
    stroke: #000;
    stroke-width: 0.05px;
}

text.section {
    font-size: 4px;
}

text.paper-label {
    font-size: 1.5px;
}

div.tooltip {
    position: absolute;
    padding: 10px;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

.fake-card-title-wrapper {
    padding: 16px !important;
}

.fake-card-title-header {
    padding: 0 !important;
}
