$background-color: #00000010;
$margin: 5px;
$grid-gap: 10px;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: $margin;
    font-family: Roboto, sans-serif;
}

body {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 100px 200px max-content;
    grid-gap: $grid-gap;
    grid-template-areas: "header header" "visualization selection-info" "visualization user-papers";
    height: calc(100vh - 2 * #{$margin} - #{$grid-gap});
}

.header {
    grid-area: header;
    background-color: $background-color;
}

.selection-info {
    grid-area: selection-info;
    background-color: $background-color;
}

.user-papers {
    grid-area: user-papers;
    background-color: $background-color;
}

.visualization {
    grid-area: visualization;
    background-color: $background-color;
}

svg {
    margin: 0;
}

line {
    stroke: #000;
    stroke-width: 0.05px;
}

text.section {
    font-size: 4px;
}

text.paper-label {
    font-size: 1.5px;
}

div.tooltip {
    position: absolute;
    padding: 10px;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
