$background-color: #00000010;
$margin: 0px;
$grid-gap: 10px;

*, *:before, *:after {
    font-family: Roboto, sans-serif;
}

body {
    max-width: 1500px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: auto 250px;
    grid-template-rows: auto auto;
    grid-gap: 1px;
    grid-template-areas: "graph info" "graph user";
}

.graph {
    grid-area: graph;
}

.info {
    grid-area: info;
}

.user {
    grid-area: user;
}

line {
    stroke: #000;
    stroke-width: 0.05px;
}

text.section {
    font-size: 4px;
}

text.paper-label {
    font-size: 1.5px;
}

div.tooltip {
    position: absolute;
    padding: 10px;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
